<connectionStrings>
  <add name="ChinookDB" connectionString="Data Source=RANDELL\SQL2014; Initial Catalog=Chinook; Integrated Security=true"
    providerName="System.Data.SqlClient" />
  <!--<add name="ChinookDB" connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
    providerName="System.Data.SqlClient" />-->
    
</connectionStrings>